AWS_REGION=us-east-1
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
SLACK_RECOGNITION_CHANNEL_ID=
SLACK_MAINTAINER_IDS=
PROGRAM_TIMEZONE=America/New_York
PROGRAM_START_AT=2026-07-31T00:00:00-04:00
DYNAMODB_TABLE_NAME=
NOMINATION_QUEUE_URL=stdout://local
